body {
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}

#clockContainer {
	font-family: sans-serif;
	color: #000;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockOuter {
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
}

#clockInner {
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}